.guide-card {
  border-radius: 10px;
  border: 1px solid black;
  width: 80%;
  margin: 10px auto;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.guide-card-actions {
  display: flex;
  flex-direction: column;
}